// VARIABLES

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

$bg-primary: #140d27;
$color-accent: #d434fe;
$color-neutral: #ffffff;
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Clash Display", sans-serif;
$font-tertiary: "Unica One", cursive;

body {
  background-color: $bg-primary;
}

// Utility Classes
@media (min-width: 700px) {
  .sr-only {
    display: none;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 85%;
  max-width: 1128px;
  margin: 0 auto;
}

section {
  position: relative;

  .flare {
    position: absolute;
    top: -8rem;
    left: -10rem;
    filter: blur(50px);
    width: 800px;
    z-index: -1;
  }
}

header {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

// NAV STYLING
.nav-wrapper {
  margin-top: 2rem;
  gap: 1rem;

  .logo {
    object-fit: contain;
  }

  .primary-navigation {
    gap: 2rem;

    & a {
      color: white;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1rem;
    }

    .register-btn {
      padding: 1rem 3.25rem;
      border-radius: 4px;
      background: linear-gradient(
        270deg,
        #903aff 0%,
        #d434fe 56.42%,
        #ff26b9 99.99%,
        #fe34b9 100%
      );
      margin-left: 3rem;
    }
  }

  .nav-toggle {
    background-image: url(/assets/images/hamburger.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 25px;
    background-size: contain;

    &.nav-active {
      background-image: url(/assets/images/close.svg);
      width: 40px;
      height: 30px;
    }
  }
}

@media (max-width: 700px) {
  .nav-wrapper {
    margin-top: 2rem;
  }

  .primary-navigation {
    display: none;
  }

  .primary-navigation.active {
    display: flex;
    padding: 3rem 3rem;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    right: 4.3rem;
    border-radius: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0.04);
    background: #150e28;
    backdrop-filter: blur(30px);
    align-items: flex-start;
    z-index: 1;

    .register-btn {
      margin-left: 0;
    }
  }
}

// HERO Styling
.hero-container {
  margin-top: 2rem;
  background-image: url(/assets/images/metrix\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  .hero-header {
    color: $color-neutral;
    font-family: $font-primary;
    text-align: right;
    position: relative;

    & span {
      position: absolute;
      top: 2rem;
      right: 0rem;
    }

    @media (max-width: 700px) {
      & {
        text-align: center;
        font-size: 0.9rem;

        span {
          width: 120px;
          top: 1rem;
          right: 1rem;
        }
      }
    }
  }

  .hero {
    margin-top: 4rem;
    align-items: flex-start;

    .hero-info {
      .hero-intro {
        font-family: $font-secondary;
        color: $color-neutral;
        font-size: 4rem;
        position: relative;
        margin-bottom: 2rem;

        & span {
          color: #d434fe;
        }

        .pin img {
          width: 60px;
        }

        .blast img {
          width: 50px;
          position: absolute;
        }

        .bulb {
          position: absolute;
          top: -2.5rem;
          right: 5rem;

          & img {
            width: 40px;
          }
        }
      }

      & p {
        color: $color-neutral;
        font-family: $font-primary;

        font-size: 1.25rem;
        margin-bottom: 2rem;

        @media (min-width: 700px) {
          width: 78%;
        }
      }

      .register-btn2 {
        padding: 1rem 3.25rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        background: linear-gradient(
          270deg,
          #903aff 0%,
          #d434fe 56.42%,
          #ff26b9 99.99%,
          #fe34b9 100%
        );
        color: white;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 1rem;
      }
      .timer {
        display: flex;
        gap: 1rem;
        color: $color-neutral;
        font-family: $font-tertiary;
        font-size: 3rem;

        h1 span {
          font-size: 1rem;
          margin-left: -1rem;
        }
      }
    }

    .hero-img {
      width: 100%;
      max-width: 828px;
    }
  }
}

@media (max-width: 700px) {
  .hero {
    flex-direction: column;

    .hero-info {
      text-align: center;

      .hero-intro {
        font-size: 2rem !important;
        line-height: 1;
      }

      .pin img {
        width: 30px !important;
      }

      .blast img {
        width: 30px !important;
        position: absolute;
      }

      .bulb {
        position: absolute;
        top: -1.2rem !important;
        right: 5rem;

        & img {
          width: 20px !important;
        }
      }

      & p {
        font-size: 0.9rem !important;
      }
    }

    .timer {
      justify-content: center;
    }
  }
}

// about styling
.about-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.about {
  margin-block: 4rem;

  .about-img {
    width: 80%;
  }

  .about-info {
    width: 60%;

    .section-header {
      font-family: $font-secondary;
      color: $color-neutral;
      font-size: 2rem;
      position: relative;
      margin-bottom: 2rem;
      width: 90%;

      & span {
        color: #d434fe;
      }
    }

    & p {
      color: $color-neutral;
      font-family: $font-primary;

      font-size: 1rem;
      margin-bottom: 2rem;
      line-height: 2;

      & span {
        color: #d434fe;
      }
    }

    .read-more-btn {
      padding: 1rem 3.25rem;
      border-radius: 4px;
      background: linear-gradient(
        270deg,
        #903aff 0%,
        #d434fe 56.42%,
        #ff26b9 99.99%,
        #fe34b9 100%
      );
      color: $color-neutral;
      font-size: 1rem;
    }

    @media (min-width: 700px) {
      .judge {
        width: 60% !important;
      }
    }
  }
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }

  .about-img {
    width: 100% !important;
  }

  .about-info {
    width: 100% !important;
    text-align: center;

    .section-header {
      width: 100% !important;
      font-size: 1.5rem !important;
    }
  }

  .rules {
    flex-direction: column-reverse !important;
  }
}

// FAQS SECTION STYLING
.faqs-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.faqs {
  margin-block: 4rem;
}

.accordion {
  width: 60%;
  .faqs-header {
    font-family: $font-secondary;
    color: $color-neutral;
    font-size: 2rem;
    position: relative;
    margin-bottom: 1rem;
    width: 60%;

    & span {
      color: #d434fe;
    }
  }

  .faqs-subtitle {
    color: $color-neutral;
    font-family: $font-primary;

    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 2;
  }

  .faqs-img {
    width: 60%;
  }
}

hr {
  border: 1px solid $color-accent;
}
.faqs-wrapper {
  margin: 15px 0;
  position: relative;

  .label {
    margin: 5px 0;
    color: $color-neutral;
    font-family: $font-primary;
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;

    &::before {
      content: "+";
      color: $color-accent;
      position: absolute;
      top: 50%;
      right: 0px;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }
  }

  .content {
    position: relative;
    color: $color-neutral;
    font-family: $font-primary;
    font-size: 0.8rem;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
}

.faqs-wrapper.active .content {
  height: 60px;
}

.faqs-wrapper.active .label::before {
  content: "-";
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .faqs {
    flex-direction: column;
    gap: 2rem;
  }

  .faqs-header {
    text-align: center;
    width: 100% !important;
  }

  .faqs-subtitle {
    text-align: center;
  }

  .accordion {
    width: 100%;
  }
}

// timeline styling
.timeline-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.timeline {
  margin-block: 4rem;
  .timeline-header {
    font-family: $font-secondary;
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }
  .timeline-subtitle {
    font-family: $font-primary;
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    background-color: #d434fe;
    height: 60px;
    width: 3px;
    margin-block: 10px;
  }

  .num-btn {
    color: white;
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1.2rem;
    font-family: $font-primary;
  }
}

.timeline-container {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.timeline-content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  text-align: right;

  h2 {
    font-family: $font-primary;
    color: #d434fe;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
  }

  p {
    color: #fff;
    font-family: $font-primary;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 27.344px */
  }
}
.timeline-content-2 {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  text-align: left;

  h2 {
    font-family: $font-primary;
    color: #d434fe;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
  }

  p {
    color: #fff;
    font-family: $font-primary;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 27.344px */
  }
}

@media (min-width: 700px) {
  .timeline-container-mobile {
    display: none;
  }
}

.timeline-container-mobile {
  margin-top: 2rem;
}

.timeline-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeline-wrapper {
  display: flex;
  gap: 1rem;

  .date1 {
    margin-top: 1.3rem;
  }
  .date2 {
    margin-top: 1.3rem;
  }
  .date3 {
    margin-top: 2.4rem;
  }
  .date5 {
    margin-top: 1.3rem;
  }
  .date6 {
    margin-top: 1.3rem;
  }

  h2 {
    font-family: $font-primary;
    color: #d434fe;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }

  p {
    color: #fff;
    font-family: $font-primary;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170.9%; /* 27.344px */
  }
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-2 {
  background-color: #d434fe;
  height: 77px;
  width: 3px;
  margin-block: 10px;
}

.num-btn-2 {
  color: white;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1rem;
  font-family: $font-primary;
}

@media (max-width: 700px) {
  .timeline-container {
    display: none;
  }
}

// prizes and awards styling
.prizes-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.prizes-wrapper {
  margin-block: 4rem;
}

.prizes-header {
  margin-left: 40rem;

  h1 {
    font-family: $font-secondary;
    color: white;
    font-size: 2rem;
    font-weight: 700;

    span {
      color: $color-accent;
    }
  }

  p {
    font-family: $font-primary;
    color: #fff;
    font-size: 0.875rem;
  }
}

.medal-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.medal-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .medal-details1 {
    margin-top: -4rem;
    z-index: -1;
    padding: 5rem 1rem;
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #d434fe;
    background: rgba(212, 52, 254, 0.12);
    text-align: center;

    h2 {
      color: #fff;
      font-size: 36px;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;

      span {
        font-size: 24px;
        font-weight: 600;
      }
    }

    h3 {
      color: #d434fe;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .medal-details2 {
    margin-top: -3rem;
    z-index: -1;
    padding: 5rem 1rem;
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #903aff;
    background: rgba(144, 58, 255, 0.12);
    text-align: center;

    h2 {
      color: #fff;
      font-size: 36px;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;

      span {
        font-size: 24px;
        font-weight: 600;
      }
    }

    h3 {
      color: #903aff;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .medal-details3 {
    margin-top: -4rem;
    z-index: -1;
    padding: 5rem 1rem;
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #d434fe;
    background: rgba(212, 52, 254, 0.12);
    text-align: center;

    h2 {
      color: #fff;
      font-size: 36px;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 700;

      span {
        font-size: 24px;
        font-weight: 600;
      }
    }

    h3 {
      color: #d434fe;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 700;
    }
  }
}

@media (max-width: 700px) {
  .prizes-header {
    margin: 0;
    text-align: center;
  }

  .medal-container {
    flex-direction: column;
  }

  .medal-wrapper {
    gap: 1rem;
  }
  .card img {
    width: 120px;
  }

  .medal-details1,
  .medal-details2,
  .medal-details3 {
    width: 110px !important;
    height: 100px !important;

    h2 {
      color: #fff;
      font-size: 1rem !important;

      span {
        font-size: 1rem !important;
      }
    }

    h3 {
      font-size: 1rem !important;
    }
  }
}

// partners ans sponsors styling
.partners-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.partners-wrapper {
  margin-block: 4rem;
}

.partners-header {
  text-align: center;

  h1 {
    color: #fff;

    font-family: $font-secondary;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 85.938% */
    margin-bottom: 0.5rem;
  }

  p {
    color: #fff;
    font-family: $font-primary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }
}

.partners-container {
  margin-top: 4rem;
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(255, 255, 255, 0.01);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  row-gap: 2rem;
  column-gap: 1rem;
  

//   position: relative;
// //   width: 1200px;
// // height: 400px;


// .first-child::after {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// margin-left: 6rem;
// }
// .first-child::before {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// width: 200px;
// height: 4px;
// margin-top: 8rem;
// }

// .second-child::after {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// margin-left: 6rem;
// margin-top: -2rem;
// }

// .second-child::before {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// width: 380px;
// height: 4px;
// margin-top: 5.8rem;
// margin-left: -5.7rem;
// }

// .third-child::after {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// margin-left: 5.2rem;
// }

// .fourth-child::after {
//   content: "";
// width: 4px;
// height: 112.476px;
// background: #D434FE;
// position: absolute;
// margin-left: 6.8rem;
// margin-top: -2rem;
// }

}

@media (max-width: 700px) {

}

// RESETS
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}
